body{
  background-color: rgb(182, 163, 163);
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

h2{
color: rgb(0, 0, 0);  
}


.iconepequeno{
width: 20px;

}

h2{
font-size: 18px;
text-transform: uppercase;
font-family: Helvetica;
}